In [21]:
import obspy
import obsplus
import pandas as pd
from obspy.clients.fdsn import Client
from datetime import timedelta
import datetime

### Read station dataframe directly:

In [16]:
dfS = pd.read_parquet('https://github.com/zoekrauss/alaska_catalog/raw/main/data_acquisition/alaska_stations.parquet')

In [17]:
dfS

,longitude,latitude,elevation(m),component,response,unit,start_date,end_date,network,station,id
AK.ANM..BH2010172,-165.373200,64.564600,338.0,"E,N,Z","488760000.00,488760000.00,488760000.00",m/s,2010-06-21T00:00:00.000,2100-01-01T00:00:00.000,AK,ANM,AK.ANM..BH
AK.ATKA..BH2010130,-174.197495,52.201599,55.0,"E,N,Z","488760000.00,488760000.00,488760000.00",m/s,2010-05-10T00:00:00.000,2100-01-01T00:00:00.000,AK,ATKA,AK.ATKA..BH
AK.ATKA..BN2013264,-174.197495,52.201599,55.0,"E,N,Z","213760.00,213760.00,213760.00",m/s**2,2013-09-21T00:00:00.000,2019-03-26T21:50:59.000,AK,ATKA,AK.ATKA..BN
AK.ATKA..HN2019085,-174.197495,52.201599,55.0,"E,N,Z","213760.00,213760.00,213760.00",m/s**2,2019-03-26T21:51:00.000,2100-01-01T00:00:00.000,AK,ATKA,AK.ATKA..HN
AK.BAGL..BH2013001,-142.091507,60.489601,1470.0,"E,N,Z","488760000.00,488760000.00,488760000.00",m/s,2013-01-01T00:00:00.000,2100-01-01T00:00:00.000,AK,BAGL,AK.BAGL..BH
...,...,...,...,...,...,...,...,...,...,...,...
XV.FAPT..HH2015224,-149.083100,64.549800,111.2,"E,N,Z","503939000.00,503939000.00,503939000.00",m/s,2015-08-12T00:00:00.000,2019-09-28T23:59:59.999,XV,FAPT,XV.FAPT..HH
XV.FNN1..HH2015226,-149.217800,64.571600,110.0,"E,N,Z","503939000.00,503939000.00,503939000.00",m/s,2015-08-14T00:00:00.000,2019-09-01T23:59:59.999,XV,FNN1,XV.FNN1..HH
XV.FNN2..HH2015225,-149.445600,64.575600,134.6,"E,N,Z","503939000.00,503939000.00,503939000.00",m/s,2015-08-13T00:00:00.000,2019-09-01T23:59:59.999,XV,FNN2,XV.FNN2..HH
XV.FPAP..HH2014247,-149.099200,64.613000,105.5,"E,N,Z","503939000.00,503939000.00,503939000.00",m/s,2014-09-04T00:00:00.000,2019-09-28T23:59:59.999,XV,FPAP,XV.FPAP..HH
XV.FTGH..HH2015224,-148.827900,64.691700,284.5,"E,N,Z","503939000.00,503939000.00,503939000.00",m/s,2015-08-12T00:00:00.000,2019-09-28T23:59:59.999,XV,FTGH,XV.FTGH..HH

In [45]:
start_date = datetime.datetime(2018,5,1)
end_date = datetime.datetime(2019,8,1)


dfS['start_date']=pd.to_datetime(dfS['start_date'],infer_datetime_format=True,errors='coerce')
dfS['end_date']=pd.to_datetime(dfS['end_date'],infer_datetime_format=True,errors='coerce')

In [54]:
days = (end_date - start_date).days

count = []
for i in range(days):
    t1 = start_date + pd.Timedelta(i,'days')
    t2 = start_date + pd.Timedelta(i+1,'days')


    count.append = ((dfS['start_date'] < t1) & (dfS['end_date'] > t2)).sum()

IndexError: list assignment index out of range

In [50]:
mask = (dfS['start_date'] < t1) & (dfS['end_date'] > t2)

In [52]:
mask.sum()

447